[submodule "Gateway"]
	path = Gateway
	url = https://github.com/dzmarkets/ModMesh-Gateway
[submodule "Sensor"]
	path = Sensor
	url = https://github.com/dzmarkets/ModMesh-Sensor
[submodule "Actuator"]
	path = Actuator
	url = https://github.com/dzmarkets/ModMesh-Actuator
